@using Trip.PasvAPI.Models.Model
@using Trip.PasvAPI.Models.Repository
@using System.Globalization

@inject CodeRepository codeRepos
@model StaffModel
@{
    Layout = null;

    var statusLst = codeRepos.GetCodesByType("STAFF_STATUS", CultureInfo.CurrentCulture.ToString());
    var roleLst = codeRepos.GetCodesByType("STAFF_TYPE", CultureInfo.CurrentCulture.ToString());
}

<form id="staff_form" class="form" role="form">
    <input type="hidden" id="staff_oid" name="staff_oid" value="@Model.staff_oid" />
    <div class="container-fluid">
        <div class="row">
            @if (Model.staff_oid != 0)
            {
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label class="mr-sm-2">序號</label>
                        <div class="form-control mr-sm-2"> @Model.staff_oid </div>
                    </div>
                </div>
            }
            <div class="col-md-12 form-group">
                <label for="staff_account">帳號</label>
                <input id="staff_account" name="staff_account" class="form-control" value="@(Model.staff_account)" placeholder="輸入員工帳號(Email)" required />
            </div>

            <div class="col-md-12 form-group">
                <label for="staff_name">姓名</label>
                <input id="staff_name" name="staff_name" class="form-control" value="@(Model.staff_name)" placeholder="輸入員工姓名" required />
            </div>
              
            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                <label for="staff_status">狀態</label>
                <select id="staff_status" name="staff_status" class="form-control" required>
                    <option value="">請選擇</option>
                    @foreach (var status in statusLst)
                    {
                        if (status.code_no == Model.staff_status)
                        {
                            <option value="@status.code_no" selected>@status.code_name</option>
                        }
                        else
                        {
                            <option value="@status.code_no">@status.code_name</option>
                        }
                    }
                </select>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6 form-group">
                <label for="staff_type">類型</label>
                <select id="staff_type" name="staff_type" class="form-control" required>
                    <option value="">請選擇</option>
                    @foreach (var _type in roleLst)
                    {
                        if (_type.code_no == Model.staff_type)
                        {
                            <option value="@_type.code_no" selected>@_type.code_name</option>
                        }
                        else
                        {
                            <option value="@_type.code_no">@_type.code_name</option>
                        }
                    }
                </select>
            </div>


        </div>
    </div>
</form>


<script type="text/javascript">$('#staff_form').bootstrapValidator({
        feedbackIcons: {
            valid: null,
            invalid: null,
            validating: null
        }
    });</script>