@using Trip.PasvAPI.Models.Model
@using Trip.PasvAPI.Models.Repository

@inject CodeRepository codeRepos
@model ProductMapExModel
@{
    Layout = null;

    var codes = codeRepos.LoadFromTypes("MAP_STATUS", "MAP_MODE");
}
<form id="map_form" class="form" role="form">
    <input type="hidden" id="map_seq" value="@Model.map_seq" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-12 form-group">
                <label for="map_mode">商品模式</label>
                <select id="map_mode" name="map_mode" class="form-control">
                @foreach (var item in codes.Where(c => c.code_type == "MAP_MODE").OrderBy(c => c.sort).ToList())
                {
                    @:<option value="@(item.code_no)" @(Model.map_mode.Equals(item.code_no) ? "selected" : "")>@(item.code_name.GetValue("basic"))</option>
                }
                </select>
            </div>

            <div class="col-md-6 col-12 form-group">
                <label for="map_status">對應狀態</label>
                <select id="map_status" name="map_status" class="form-control">
                @foreach (var item in codes.Where(c => c.code_type == "MAP_STATUS").OrderBy(c => c.sort).ToList())
                {
                    @:<option value="@(item.code_no)" @(Model.map_mode.Equals(item.code_no) ? "selected" : "")>@(item.code_name.GetValue("basic"))</option>
                }
                </select>
            </div>

            <div class="col-md-4 col-12 form-group">
                <label for="ota_prod_id">OTA 商編 *</label>
                <input id="ota_prod_id" name="ota_prod_id" class="form-control" value="@(Model.ota_prod_id)" required />
            </div>
            <div class="col-md-8 col-12 form-group">
                <label for="ota_prod_name">OTA 商品名稱</label>
                <input id="ota_prod_name" name="ota_prod_name" class="form-control" value="@(Model.ota_prod_name)" />
            </div>
            <div class="col-12 form-group">
                <label for="prod_oid">KKday 商編 *</label>
                <input type="hidden" id="prod_oid" name="prod_oid" value="@Model.prod_oid" />
                <div class="form-control" style="display:inline-table;">@Model.prod_name</div>
            </div>
            <div class="col-12 form-group">
                <label for="pkg_oid">KKday 方案 *</label>
                <input type="hidden" id="pkg_oid" name="pkg_oid" value="@Model.pkg_oid" />
                <div class="form-control" style="display:inline-table;">@Model.pkg_name</div>
            </div>
            <div class="col-12 form-group">
                <label for="sku_id">KKday SKU *</label>
                <input type="hidden" id="sku_id" name="sku_id" value="@Model.sku_id" />
                <div class="form-control" style="display:inline-table;">@Model.sku_name</div>
            </div>
            <div class="col-md-6 col-12 form-group align-self-end">
                <label for="allow_seltime">場次可選擇 </label>
                <input type="checkbox" name="allow_seltime" id="allow_seltime" data-size="sm" @(Model.allow_seltime ? "checked" : "") onchange="CheckAllowTimeSlot();" />
            </div>
            <div class="col-12 form-group">
                <label>場次</label> 
                <div class="input-group col-md-4 mb-3">
                    <input id="time_slot" class="form-control" placeholder="hh:mm" value="@Model.time_slot" @(Model.allow_seltime ? "" : "disabled") /> 
                </div> 
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">
    $('#map_form').bootstrapValidator({
        feedbackIcons: {
            valid: null,
            invalid: null,
            validating: null
        }
    });

    $('#allow_seltime').bootstrapToggle(); 
  
    ////////////////////////////

    function AddSlot() {
        time = $('.add-time').val();
        if (time == "") { alert("場次時間不可空白!"); return; }
        slotHtml = `<div class="input-group col-md-4 mb-3 slot">
    <input class="form-control time" placeholder="hh:mm" value="${time}" />
    <div class="input-group-append">
        <button type="button" class="btn btn-light" onclick="DeleteSlot(this);">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
</div>`;
        $(slotHtml).insertBefore('#time_slots .add-slot');
        $('.add-time').val('');
    }

    function DeleteSlot(el) {
        $(el).closest('.slot').remove();
    }

    function CheckAllowTimeSlot() {
        allow_sel = $('#allow_seltime').is(':checked');
        $('#time_slot').prop('disabled', !allow_sel);
        if (!allow_sel) $('#time_slot').val('');
    }
</script>